<!DOCTYPE html>
<html lang="en">
{% load static  %}
<head>
    <meta charset="UTF-8">
    <title>{{index_title}}</title>
    <link href = "{%static 'index-style.css'%}" rel = "stylesheet" type="text/css">
</head>
<body>
    <h1>django框架测试</h1>
    <h2>
        欢迎来到django框架测试网页
    </h2>
    <h1>{{ request.user }}</h1>
    <ol>
    {% for word in word_list %}
        {% for word in word_list %}
        <li>{{ forloop.counter0 }}---{{ word }}</li>
            <h2>{{ word.subtitle }}</h2>
            <h2>{{ word.link }}</h2>
        {% endfor %}
    {% endfor %}
    </ol>
</body>
</html>